<!-- Begin Menu -->
<nav class="menu" id="menu">
  <ul class="menu__list">
    <li class="menu__item"><a href="index.html">main</a></li>
    <li class="menu__item menu__item-hidden"><a href="examples.html">examples</a></li>
    <li class="menu__item"><a href="about.html">about</a></li>
    <li class="menu__item menu__item-upper"><a href="contacts.html">contacts</a></li>
    <li class="menu__item menu__item-upper"><a href="blog.html">blog(ru)</a></li>
  </ul>
  <!-- /menu__list -->
  <hr class="menu-line">
  <ul class="menu__list">
    <li class="menu__item menu__item-lower"><a href="contacts.html">contacts</a></li>
    <li class="menu__item menu__item-lower"><a href="blog.html">blog(ru)</a></li>
  </ul>
</nav>
<!-- /menu -->
<!-- End Menu -->