<!-- Begin Article -->
<article class="article">
  <h2 class="article__title">Den Piaterenkov. Web-developer.</h2>
  <div class="article__date"></div>
  <h3 class="article__subtitle">Welcome to my site!</h3>
  <div class="article__post"><p>I am glad that you are here! You can read about me briefly <a href="about.html">here.</a></p>
    <p>To contact me, use the information from <a href="contacts.html">this page.</a> Even if I'm not in touch, the answer from me will be required.</p>
    <p>My thoughts and ideas will be published in the <a href="blog.html">blog.</a> So far only in Russian. How little time in days...</p>
    <p>Later will be added examples of my work. If I have a desire to leave freelancing, my resume will be posted.</p>
</article>
<!-- End Article -->