.article {
  padding: {
    top: 1rem;
    bottom: 2rem;
  };

  &__title {
    padding: {
      left: 1.5rem;
      top: 1rem;
    };

    font: {
      size: 2.2rem;
    };
  }

  &__date {
    text-align: right;

    padding: {
      top: 1rem;
      bottom: 0.5rem;
      right: 4rem;
    };

    font: {
      size: 1rem;
      style: italic;
    };
  }

  &__subtitle {
    font: {
      size: 1.4rem;
    };

    padding: {
      top: 1rem;
      bottom: 1rem;
      left: 1.5rem;
    };
  }

  &__post {
    font: {
      size: 1.2rem;
    };

    p {
      padding: {
        top: 0.7rem;
        bottom: 0.7rem;
      };
      text-indent: 1rem;
    }

    ul {
      padding-left: 4rem;
    }

    figure {
      img {
        margin: 0;
        padding: 0;
      }
      float: right;
      text-align: center;
      font-style: italic;
      font-size: smaller;
      text-indent: 0;
      border: thin silver solid;
      margin: 0.5rem;
      padding: 0.5rem;
    }
  }

  &__image {
    width: 20rem;
    margin-right: 1rem;

    margin: {
      right: 1rem;
      bottom: 1rem;
    }

    float: left;

    @media screen and (max-width: 36rem) {
      width: 26rem;
    }

    @media screen and (min-width: 36rem) and (max-width: 48rem) {
      width: 14rem;
    }
  }

  &__footer {
    padding: {
      top: 1rem;
      left: 4rem;
    };

    font: {
      size: 1.1rem;
      style: italic;
    };
  }
}