<div class="contacts">
  <div class="contacts__title">Please, press quick contacts for communication with me:</div>
  <div class="contacts__wrap-upper">
    <div class="contacts__social"><p class="contacts__social-title">Skype</p>
      <a href="skype:dving_" target="_blank">
        <img
            src="img/svg/social/skype.svg"
            alt="skype"
            class="contacts__social-icon"
            type="image/svg+xml">
        </a>
    </div>
    <div class="contacts__social"><p class="contacts__social-title">Facebook</p>
      <a href="https://www.facebook.com/DenPiaterenkov" target="_blank">
          <img
          src="img/svg/social/facebook.svg"
          class="contacts__social-icon"
          alt="facebook"
          type="image/svg+xml">
        </a>
    </div>
    <div class="contacts__social"><p class="contacts__social-title">LinkedIn</p>
      <a href="https://www.linkedin.com/in/den-piaterenkov" target="_blank">
          <img
          src="img/svg/social/linkedin.svg"
          class="contacts__social-icon"
          alt="linkedin"
          type="image/svg+xml">
        </a>
    </div>
    <div class="contacts__social"><p class="contacts__social-title">Telegram</p>
      <a href="https://t.me/Dving80" target="_blank">
          <img
          src="img/svg/social/telegram.svg"
          class="contacts__social-icon"
          alt="telegram"
          type="image/svg+xml">
        </a>
    </div>
    <div class="contacts__social"><p class="contacts__social-title">E-mail</p>
      <a href="mailto:Den%20Piaterenkov%20%3Cdving80@gmail.com%3E" target="_blank">
          <img
          src="img/svg/email.svg"
          class="contacts__social-icon"
          alt="email"
          type="image/svg+xml">
        </a>
    </div>
  </div>
    <div class="contacts__title">Or send me a message to the email (your mail program will open):</div>
  <div class="contacts__wrap-lower">
    <form action="mailto:Den%20Piaterenkov%20%3Cdving80@gmail.com%3E" enctype="text/plain" class="contacts__form" id="contacts__form">
      <fieldset>
        <legend>Submit message</legend>
        <!-- <p class="contacts__form-row">
          <input type="text" placeholder=" Name">
        </p> -->
        <p class="contacts__form-row">
          <input type="text" name="subject" placeholder=" My message to Den Piaterenkov. (From blog)">
        </p>
        <p class="contacts__form-row">
          <textarea class="contacts__form-input" name="body" placeholder=" Enter your message"></textarea>
        </p>
        <div class="contacts__wrap-buttons">
          <input class="button" type="submit" value="Submit message">
          <input class="button" type="reset" value="Reset">
        </div>
      </fieldset>
    </form>
  </div>
</div>